.idea/
*.elf
*.out.ll
*.s
*.o
project/project
project/target
target/
grammar/M2Lexer.tokens
tl/integration/test
tl/integration/arrays
tl/integration/floats
tl/integration/fnpointer
tl/integration/hw
tl/sdl/kadabra.jar
tl/sdl/main
